<ion-view view-title="Travel">
  <ion-content>
    <div class="item item-avatar">
        <img ng-src="img/carimg/{{travel.icon}}.png">
        <h2>{{travel.title}}</h2>
        <p>{{travel.owner}}</p>
    </div>
    <div class="item item-body">
        <div class="badge item-note">{{travel.date | date:"dd/MM HH:mm a"}}</div>
        <p><img class='o-imgTitle' src="img/from-to.png" />{{travel.from}} - {{travel.to}}</p>
        <p>nº car seats: {{trave.seats}}</p>
        <p class="o-bold">{{travel.description}}</p>
        <br>
        <p>
            <img class='o-imgMenu' src="img/smartphone.png" /> {{travel.phone}}
        </p>

        <p class='text-right'>
          <a href="#" class="button button-calm o-pull-right">Ask to join</a>
        </p>
    </div>
  </ion-content>
</ion-view>
